# Python venvs
.venv312/
venv/
env/

#Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# packaging
build/
dist/
*.egg-info/

#Jupyter
.ipynb_checkpoints/

# OS 
.DS_Store
Thumbs.db
.vscode/settings.json

# runs
runs/
*.log

#Local data
data/raw/
data/processed/
*.nii
*.nii.gz
